*{
    margin: none;
    
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding-left: 25px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
  
    top: 0;
    
}
#navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right: 20px;

}
#navbar li{
    list-style: none;
    padding:0px 20px;
}
#logo{
    height: 70px;
    padding-top: 3px;
    
    
}

